<md-content flex layout-padding>

    <md-card>
        <md-table-container>

            <md-toolbar class="md-table-toolbar md-default">
                <h1>
                    Seja bem-vindo ao Mapa de Saúde e Empregos.
                </h1>
                <p>
                    No sistema você poderá consultar o Mapa de Saúde e Empregos dos dados fornecidos pelo TCU-Cívico.
                </p>
                <h2>
                    Resumo das Funcionalidades disponíveis:
                </h2>
                <ul class="list-group">
                    <li class="list-group-item"><a ui-sref="#">Cras</a></li>
                    <li class="list-group-item"><a ui-sref="#">Creas</a></li>
                    <li class="list-group-item"><a ui-sref="#">Estabelecimentos de saúde</a></li>
                    <li class="list-group-item"><a ui-sref="#">Empregos</a></li>
                </ul>
            </md-toolbar>

        </md-table-container>
    </md-card>

</md-content>
