<md-content flex layout-padding>

    <md-card>
        <md-table-container>

            <md-toolbar class="md-table-toolbar md-default">
                <h1>Seja bem-vindo ao NutrIF.</h1>
                <p>
                    No sistema você poderá cadastrar Aluno, Dia de Refeição, Editais e Refeições. É possível também registrar a entrada dos Alunos baseada nos benefícios concedidos.
                </p>
                <p>
                    As funcionalidades estão distribuídas no menu esquerdo. Caso ele não esteja disponível, aperte o botão no alto da barra para expandir. As opções estão dividas em categorias para melhor acesso.
                </p>
                <h2>
                    Resumo das Funcionalidades disponíveis:
                </h2>
                <ul class="list-group">
                    <li class="list-group-item"><a>Alunos</a></li>
                    <li class="list-group-item"><a ui-sref="administrador.listar-refeicoes">Refeições</a></li>
                    <li class="list-group-item"><a ui-sref="administrador.listar-editais">Editais</a></li>
                    <li class="list-group-item"><a ui-sref="administrador.listar-entradarefeitorio">Entrada dos Alunos no Restaurante.</a></li>
                </ul>
            </md-toolbar>

        </md-table-container>
    </md-card>

</md-content>
